@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap'); /* oswald */

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #24282F;
    width: 100%;
    height: 100%;
    

}
article{
    display: inline-block;
}

div{
    border-radius: 10px;
    max-width: 600px;
    min-width: 220px;
    height: 220px;
    background-color: #3C3E44;
    display: flex;
    margin: 20px;

}
img{
    border-radius: 10px 0px 0px 10px;
}
ul{
    list-style-type:    none;
}